# ── Database ────────────────────────────────────────────────
AUV_DB_PATH=auv_database.db

# ── Server ──────────────────────────────────────────────────
AUV_HOST=0.0.0.0
AUV_PORT=8000

# ── Hardware Interface ──────────────────────────────────────
I2C_BUS_NUMBER=1
ARM_ADDRESS="0x08"
ESC_ADDRESS="0x09"
PSA_ADDRESS="0x10"
TORPEDO_ADDRESS="0x11"
PRESSURE_ADDRESS="0x77"
IMU_ADDRESS="0x68"
DISPLAY_ADDRESS="0x27"

# ── Hardware Interface Modules ──────────────────────────────
ARM_CONTROLLER = False
DISPLAY_CONTROLLER = False
ESC_CONTROLLER = False
IMU_CONTROLLER = False
PSA_CONTROLLER = False
TORPEDO_CONTROLLER = False
PRESSURE_CONTROLLER = False
